<% @products.each do |product| %>
  <div class="card grey lighten-2">
    <div class="card-image">
      <img><%= image_tag product.photo %>
    </div>
    <div class="card-content">
      <h3><%= link_to product.prname, product_path(product) %></h3>
    </div>
    <div class="card-action">
      <center><%= product.cost %> dollars</center>
    </div>
  </div>
<% end %>
